.head{
    padding-top: 40px;
    text-align: center;  
    color: rgb(242, 29, 14);}
body{
background-image: url(6069.gif_wh300.gif);

background-repeat: no-repeat;
background-size: cover;
}
#inc{
    border: #ff96ad;
    padding:20px 40px 20px 40px;
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad,0 0 50px #ff96ad,0 0  200px #ff96ad ;
}
#inc:hover{
    border: #96caff;
    padding:20px 40px 20px 40px;
    background: #96caff;
    box-shadow: 0 0 5px #96caff, 0 0 25px #96caff,0 0 50px #96caff,0 0  200px #ff96ad ;
}
#dec{
    border: #ff96ad;
    padding:20px 40px 20px 40px;
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad,0 0 50px #ff96ad,0 0  200px #ff96ad ;
}
#dec:hover{
    border: #96caff;
    padding:20px 40px 20px 40px;
    background: #96caff;
    box-shadow: 0 0 5px #96caff, 0 0 25px #96caff,0 0 50px #96caff,0 0  200px #ff96ad ;
}
#inc{
    margin-left: 40%;
}
#dec{
    margin-left: 5%;
}